*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f8f5f2;
    color:#333;
}

/* Header */

header{
    background:#3e2723;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}

nav a:hover{
    color:#d4a373;
}

/* Hero */

.hero{
    height:90vh;
    background:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1509042239860-f550ce710b93?w=1600");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content{
    max-width:700px;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    background:#d4a373;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:30px;
}

.btn:hover{
    background:#bc8a5f;
}

/* Section */

section{
    padding:80px 10%;
    text-align:center;
}

section h2{
    margin-bottom:20px;
    color:#3e2723;
}

/* Produk */

.product-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    margin-top:30px;
}

.card{
    width:300px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card h3{
    margin:15px 0 10px;
}

.card p{
    padding:0 15px;
}

.card h4{
    color:#8b4513;
    margin:15px 0 20px;
}

/* Keunggulan */

.keunggulan{
    background:#fff;
}

.unggulan-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    margin-top:20px;
}

/* Kontak */

.contact p{
    margin:10px 0;
}

/* Footer */

footer{
    background:#3e2723;
    color:white;
    text-align:center;
    padding:20px;
}

/* Responsive */

@media(max-width:768px){

    header{
        flex-direction:column;
    }

    nav{
        margin-top:15px;
    }

    .hero h1{
        font-size:35px;
    }
}